<div fxLayout="row wrap">

  <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Tipo de Bem"/>
      <mat-label>Tipo de Bem</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Seguro"/>
      <mat-label>Seguro</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Dealer"/>
      <mat-label>Vendedor</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
    <mat-slide-toggle>Tem Valor Prestação Consolidar</mat-slide-toggle>
  </div>
</div>
