<div fxLayout="row wrap">

  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Montante Minímo"/>
      <mat-label>Montante Minímo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Montante Máximo"/>
      <mat-label>Montante Máximo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Montante Intervalo"/>
      <mat-label>Montante Intervalo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Montante Inicial"/>
      <mat-label>Montante Inicial</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Prazo Minímo"/>
      <mat-label>Prazo Minímo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Prazo Máximo"/>
      <mat-label>Prazo Máximo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Prazo Intervalo"/>
      <mat-label>Prazo Intervalo</mat-label>
    </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Prazo Inicial"/>
      <mat-label>Prazo Inicial</mat-label>
    </mat-form-field>
  </div>
</div>
