<form class="basic-form" [formGroup]="formPricingCommissions">
  <div fxLayout="row wrap">
    <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput placeholder="CPP" formControlName="cpp" (blur)="onBlur()" />
        <mat-label>CPP</mat-label>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
      <mat-slide-toggle>Imposto de Selo Retido</mat-slide-toggle>
    </div>
    <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Imposto Selo" />
        <mat-label>Imposto Selo</mat-label>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
      <mat-slide-toggle>Comissão de Abertura Retida</mat-slide-toggle>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Comissão de Abertura" />
        <mat-label>Comissão de Abertura</mat-label>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Comissão de Abertura Extra" />
        <mat-label>Comissão de Abertura Extra</mat-label>
      </mat-form-field>
    </div>
  </div>
</form>
