.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

label {
  background-color: #1AAEB7;
  color: white;
  padding: 0.8rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

.request_button {
  text-align: center;
  text-size-adjust: auto;
  color: #fff;
  padding: 0.3rem;
  background-color: #f0b323;
  width: 100%;
  margin-top: -12px;
}

.next_button {
  text-align: center;
  text-size-adjust: auto;
  color: #fff;
  background-color: #1AAEB7;  
}