<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Atualização de pricing</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form" [formGroup]="options">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100" style="text-align: right">
              <mat-slide-toggle formControlName="isChecked">Agendar atualização?</mat-slide-toggle>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex="100" *ngIf="isChecked">
              <mat-form-field>
                <mat-label>Dia da atualização</mat-label>
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">
              <input class="form-control b-b" placeholder="file" type="file" />
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-horizontal-stepper [linear]="true">
            <mat-step>
              <ng-template matStepLabel>PRODUTOS MISTOS</ng-template>
              <div>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>CREDITO PESSOAL PROMOCIONAL</ng-template>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="warn" class="m-l-5" matStepperNext>Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>PRICING AUTO</ng-template>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
        <!-- column -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
