<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Atualização de pricing</mat-card-title>
        <form class="basic-form" [formGroup]="options">
          <div fxLayout="row wrap">
            <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="text-align: right">
              <mat-slide-toggle formControlName="isChecked">Agendar atualização?</mat-slide-toggle>
            </div>
            <div class="p-10" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100" *ngIf="isChecked">
              <mat-form-field appearance="outline">
                <mat-label>Dia da atualização</mat-label>
                <input matInput [matDatepicker]="picker"/>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">
              <label for="actual-btn">Selecionar Ficheiro</label>
              <input type="file" hidden id="actual-btn" #fileInput (change)="onFileSelect(fileInput)"/>
              <span class="file-info">{{ fileInfo }}</span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-horizontal-stepper [linear]="true">
            <mat-step>
              <ng-template matStepLabel>Produtos Lar</ng-template>
              <form [formGroup]="firstFormGroup">
                <mat-accordion class="example-headers-align" multi>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Geral
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-general></app-pricing-general>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Parametrização
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-parameterization></app-pricing-parameterization>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Outros
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-others></app-pricing-others>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Comissões e Impostos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-commissions-and-taxes></app-pricing-commissions-and-taxes>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Prazos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-deadlines></app-pricing-deadlines>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
              <br><br>
              <div>
                <button mat-raised-button color="warn" matStepperNext>Próximo</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Crédito Pessoal Promocional</ng-template>
              <form [formGroup]="firstFormGroup">
                <mat-accordion class="example-headers-align" multi>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Geral
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-general></app-pricing-general>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Parametrização
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-parameterization></app-pricing-parameterization>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Outros
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-others></app-pricing-others>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Comissões e Impostos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-commissions-and-taxes></app-pricing-commissions-and-taxes>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Prazos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-deadlines></app-pricing-deadlines>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
              <br><br>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Voltar</button>
                <button mat-raised-button color="warn" class="m-l-5" matStepperNext>Próximo</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Crédito Auto</ng-template>
              <form [formGroup]="firstFormGroup">
                <mat-accordion class="example-headers-align" multi>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Geral
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-general></app-pricing-general>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Parametrização
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-parameterization></app-pricing-parameterization>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Outros
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-others></app-pricing-others>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Comissões e Impostos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-commissions-and-taxes></app-pricing-commissions-and-taxes>
                  </mat-expansion-panel>
                  <br>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Prazos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pricing-deadlines></app-pricing-deadlines>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
              <br><br>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Voltar</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </mat-card-content>
    </mat-card>
  </div></div>
